.profile {
  font-size: 50px;
  text-align: center;
}

.name-item {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.name-item label {
  grid-column: 1;
  align-self: center;
  margin-bottom: 10px;
}

.name-item input[type="text"] {
  grid-column: 2;
  border: 1px solid black;
  padding: 5px;
}

.email-item {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.email-item label {
  grid-column: 1;
  align-self: center;
  margin-bottom: 10px;
}

.email-item input[type="email"] {
  grid-column: 2;
  border: 1px solid black;
  padding: 5px;
}

.gender-item {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.gender-item label {
  grid-column: 1;
  align-self: center;
  margin-bottom: 10px;
}

.gender-item input[list="genderData"] {
  grid-column: 2;
  border: 1px solid black;
  padding: 5px;
}

.date-item {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.date-item label {
  grid-column: 1;
  align-self: center;
  margin-bottom: 10px;
}

.date-item input[type="date"] {
  grid-column: 2;
  border: 1px solid black;
  padding: 5px;
}

.telegram-item {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.telegram-item label {
  grid-column: 1;
  align-self: center;
  margin-bottom: 10px;
}

.telegram-item input[type="text"] {
  grid-column: 2;
  border: 1px solid black;
  padding: 5px;
}

.experience-item {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.experience-item label {
  grid-column: 1;
  align-self: center;
  margin-bottom: 10px;
}

.experience-item input[type="text"] {
  grid-column: 2;
  border: 1px solid black;
  padding: 5px;
}

.user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 40px;
}

.btn-save {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn-save button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  font-family: "Arial", sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-save button:hover {
  background-color: #45a049; /* Change the background color on hover */
  transform: scale(1.05);
}

.name-item label,
.email-item label,
.gender-item label,
.date-item label,
.telegram-item label,
.experience-item label {
  font-family: "Arial", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.name-item input[type="text"],
.email-item input[type="email"],
.gender-item input[list="genderData"],
.date-item input[type="date"],
.telegram-item input[type="text"],
.experience-item input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px;
  background-color: #f6f6f6;
  transition: border-color 0.3s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.name-item input[type="text"]:focus,
.email-item input[type="email"]:focus,
.gender-item input[list="genderData"]:focus,
.date-item input[type="date"]:focus,
.telegram-item input[type="text"]:focus,
.experience-item input[type="text"]:focus {
  border-color: #4caf50;
}

.name-item,
.email-item,
.gender-item,
.date-item,
.telegram-item,
.experience-item {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 15px;
  margin-bottom: 30px;
  align-items: center;
}
